.book-pageContainer {
  width: 90%;
  height: 90%;
  font-family: 'Montserrat';
  .book-slider {
    // background-color: blue;
    height: 40%;
    width: 100%;
    display: flex;
    overflow: scroll;
    &::-webkit-scrollbar{
      display: none
    }
    .book {
      // background-color: green;
      width: 160px;
      height: 245px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 0 20px;
      border-bottom: 1px white solid;
      color:white;
      h4 {
        font-size: 16px;
      }
      img {
        width: 75%;
        height: 75%;
        object-fit: contain;
      }
      &:hover {
        transform: scale(1.1);
        border-bottom: lightseagreen 1px  solid;
      }}}

      .single-book-container {
        // background-color: red;
        height: 57%;
        width: 100%;
        display: flex;
        .book-information {
          width: 53%;
          position: relative;
          color:white;
          display: flex;
          flex-direction: column;
          padding: 0 30px 0 30px;
          justify-content: space-evenly;
          ion-icon {
            position: absolute;
            top: 10%;
            right: 10%;
          }
          .book-heart {
            p {
              transform: translate(4px, 15px);
              font-size: 12px;
            }
            clip-path: polygon(0 24%, 100% 24%, 100% 75%, 75% 75%, 69% 99%, 50% 75%, 0% 75%);
            background-color: whitesmoke;
            width: 90px;
            height: 50px;
            color: red;
            position: absolute;
            right: 10%;
            top: -12px;
            opacity: 0;
            font-size: 12px;
          }
          section {
            display: flex;
            width: 60%;
            justify-content: space-between;
          }
          h1 {
            font-size: 29px;
            width: 85%;
            color:lightseagreen
          }
          h2, h3 {
            font-size: 16px;
          }
          p {
            font-size: 15px;
            span{
              font-size: 17px;
            }
          }}}

      .book-comments {
        background-color: brown;
        height: 100%;
        width:47%
      }
}




