.Profile {
  height: 80%;
  width: 92%;
  font-family: "Montserrat";
  padding: 10px;
  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .profile-header {
    width: 80%;
    display: flex;
    transform: translate(0, -30%);

    button {
      height: 40%;
      font-size: 15px;
      padding: 5px 15px;
      border: 1px solid rgba(245, 245, 245, 0.685);
      color: white;
      background-color: transparent;
      text-transform: uppercase;
      font-family: "Montserrat";
      transform: translate(70%, 77%);
      &:hover {
        color: brown;
      }
    }
    h1 {
      font-size: 300%;
      text-transform: capitalize;
      letter-spacing: -2px;
      justify-self: flex-start;
      margin: 0;
    }
    small {
      transform: translate(8%, 74%);
      color: lightseagreen;
    }
  }

  .user-information {
    display: flex;
    height: 82%;
    width: 100%;
    .profile-row-container {
      // background-color: skyblue;
      padding: 3px 7px 3px -2px;
      height: 92%;

    }
    .item-icon {
      // background-color: slategrey;
      opacity: 0.95;
      min-width: 15%;
      margin-right: 10px;
      transform: translate(-10%, -25%);
    }
    span {
      color:pink;
    }
    .profile-rows {
      // background-color: slateblue;
      display: flex;
      width: 88%;
      margin: 5px 0;
      min-height: 20%;
      align-items: center;
      border-bottom: 1px solid white;
      &:hover {
        transform: scale(1.05);
        border-bottom: 1px solid lightskyblue;
      }
      .item-display {
        width: 85%;;
      }
      .item-displayed {
        min-width: 82%;
        .upload-buttons {
          min-width: 100%;
          margin-top: 13px;
          // background-color: #010911;
          display: flex;
          align-items: center;
          a {
            color:white;
            font-size: 14px;
            &:hover {
              color:lightskyblue;
            }
          }
          button {
            background-color: transparent;
            color:white;
            border: none;
            font-size: 14px;
            transform: translate(0, -1px);
            margin-left: 20%;
            &:hover {
              color:lightskyblue;
            }
          }
        }
      }
    }
    .buffer {
      height: 8%;
    }
    h2 {
      position: fixed;
      z-index: 4;
      width: 24%;
      height: 5%;
      background-color: #010911;
    }
    .following-container {
      width: 20%;
      display: flex;
      flex-direction: column;
      .profile-rows {
        width: 77%;
        min-height: 16%;
        text-transform: capitalize;
        a {
          color:white;
        }
      }
    }
    .followers-container {
      width: 20%;
      display: flex;
      flex-direction: column;
      .profile-rows {
        width: 77%;
        min-height: 16%;
        text-transform: capitalize;
        a {
          color:white;
        }
      }
    }
    .uploads-container {
      overflow: hidden;
      width: 30%;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }
    .saved-container {
      width: 30%;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      .profile-rows {
        .item-displayed {
          transform: translate(0%, -15%);
        }
        .item-icon {
          transform: translate(-10%, -17%);
        }
      }
    }
  }
}
