* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
}

body {
  background-color: #010911;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #010911;

  // overflow: hidden;


  // hamburger menu
  aside {
    height: 100vh;
    width: 12vw;
    background-color: #010911;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    border-right: white;


    h3 {
      color: white;
      transform: rotate(-90deg);
      width: 320px;
      margin-bottom: 210px;
      letter-spacing: 1px;
      opacity: 0.9;
      font-size: 17px;
      font-family: 'Cormorant Garamond', serif;
    }

    .hamburger-container {
      margin-top: 25px;
      align-items: center;
      display:flex;
      flex-direction: column;
      height: 45px;
      justify-content: space-evenly;
      width: 23%;

    &:hover {
      cursor: pointer;
    }

      .hamburger {
        width: 33px;
        background-color: whitesmoke;
        opacity: 0.9;
        height: 2px; 
      }
    }}

  // constant navbar
  .navbar {
    height: 100vh;
    background-color: #010911;
    z-index: 2;
    // background-color: red;
    width: 0vw; 
    justify-content: center;

 
    
    .items {
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100vh;
      text-align: start;
      align-items: center;
    
      li {
        font-size: 16px;
        color: white;
        opacity: 0.95;
        list-style: none;
        width: 370px;
        font-family: 'Cormorant Garamond', serif;
        text-decoration: none;
        &:hover {
          cursor: pointer;
    
        }
      }
      span {
        font-size: 30px;
        margin-left: 18px;
        opacity: 0.95;
        background: linear-gradient(#e99a6c,#e99a6c) left no-repeat whitesmoke;
        background-size: 0% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.7s;
        &:hover {
          background-size:  100% 100%;
        }
      }}}

  // title of homepage
  main {
    height: 100vh;
    width: 88vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      color:black;
      height: 94vh;
      background-color: white;
      border-radius: 40px;
      width: 84vw;
      background-image: url('https://images.unsplash.com/photo-1514894780887-121968d00567?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80');
      background-position: center;
      position: relative;

      &::after {
        content: '';
        opacity: 0.2;
        background: black;
        width: 100%;
        border-radius: 40px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  

  // cook page

  .recipe-container {
    width: 100vw;
    height: 200vh;
    z-index: 0;
    position: relative;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    .recipe-row {
      display:flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      // transition: ease-in-out 3s;
  
      .recipe-card {
        margin: 2em 2em;
        width: 220px;
        height: 290px;
        background-color: rgba(255, 255, 255, 0.35);
        opacity: 0.4;
        filter: grayscale(0.3);
        transition: 0.7s;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color:white;
        justify-content: space-around;


        img {
          width: 90%;
          height: 50%;
        }

        &:hover {
          filter: grayscale(0);
          transform: scale(1.30);
          opacity: 0.83;
        }
      }}}


      // watch

      video {
        width: 600px;
        height: 500px;
      }

      //  .inner-wrapper {
      //   width: 100vw;
      //   height: 50%;
      //   display: flex;
      //   background-color: hotpink;
      //   align-items: center;
      //   overflow-x: scroll;
      //   overflow-y: auto;
      //   white-space: nowrap;
      //   scroll-snap-type: inline mandatory;
      //   // overflow-x: scroll;
      //  }

      //  .box {
      //   background-color: green;
      //   width: 200px;
      //   height: 100px;
      //   margin: 0 10px;
      //   scroll-snap-align: center;
      //  }
      }
      
    


