* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
}

body {
  background-color: #010911;
  overflow: scroll;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: scroll;
  background-color: #010911;
  // background-color: white;

  @-webkit-keyframes bounce{
    0% {transform: translate(0, -4px);}
    50% {transform: translate(0, 2px);}
    100% {transform: translate(0, -4px);}
  }

  ion-icon {
    font-size: 30px;
    margin-bottom: -9px;
    margin-left: 10px;
    transform: translate(0, 1px);
    animation: bounce 1s linear reverse infinite;
      &:hover {
        cursor: pointer;
      }
    }

    button {
      &:hover {
        cursor: pointer;
      }
    }

  // hamburger menu
  aside {
    height: 100vh;
    width: 12vw;
    background-color: #010911;
    // background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    .icons {
      // background-color: red;
      display: flex;
      flex-direction: column;
      height: 100px;
      transform: translate(-6px, -125px);
      justify-content: space-between;

      ion-icon {
        animation: none;
        color: white;
        font-size: 34px;
        opacity: 0.85;
        &:hover {
          cursor: pointer;
          color: rgb(245, 153, 169);
        }
      }
    }

    h3 {
      color: white;
      bottom: 0;
      font-weight: lighter;
      transform: rotate(-90deg);
      width: 350px;
      margin-bottom: 230px;
      letter-spacing: 1px;
      opacity: 0.9;
      font-size: 13px;
      text-transform: capitalize;
      font-family: "Montserrat";
    }

    .hamburger-container {
      margin-top: 25px;
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 45px;
      justify-content: space-evenly;
      width: 23%;

      &:hover {
        cursor: pointer;
      }

      .hamburger {
        width: 33px;
        background-color: whitesmoke;
        opacity: 0.9;
        height: 2px;
      }
    }
  }

  // constant navbar
  .navbar {
    height: 100vh;
    background-color: #010911;
    // background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    z-index: 2;
    width: 0vw;
    justify-content: center;

    .items {
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100vh;
      text-align: start;
      align-items: center;

      li {
        font-size: 13px;
        color: white;
        opacity: 0.95;
        list-style: none;
        width: 370px;
        font-family: "Montserrat";
        text-decoration: none;
        &:hover {
          cursor: pointer;
        }
      }
      span {
        font-size: 27.5px;
        margin-left: 18px;
        opacity: 0.95;
        background: linear-gradient(rgb(35, 174, 255), rgb(35, 174, 255)) left no-repeat whitesmoke;
        background-size: 0% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.7s;
        &:hover {
          background-size: 100% 100%;
        }
      }
    }
  }

  // title of homepage
  main {
    height: 100vh;
    width: 88vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      color: black;
      height: 88%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .title-text {
        font-family: "Montserrat";
        background-color: rgba(212, 209, 209, 0.801);
        text-align: center;
        height: 25%;
        width: 80%;
        padding: 0 50px 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        bottom: 0;
        h1 {
          font-weight: lighter;
          font-size: 36px;
        }

        h2 {
          font-weight: lighter;
          font-size: 20px;
        }
      }

      img {
        height: 100%;
        width: 80%;
        opacity: 0.8;
        object-fit: cover;
        align-self: center;
        
      }
    }
  }

  // cook page

  .recipe-container {
    width: 82vw;
    height: 100vh;
    padding-top: 87vh;
    // overflow: scroll;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .recipe-row {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;

      .single {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 83.4vh;
        width: 80vw;
        background-color: rgba(173, 161, 161, 0.822);
        position: absolute;
        top: 8.3vh;
        font-family: "Montserrat";
        color: black;
        font-size: smaller;
        display: none;
        // position: relative;
        small {
          position: absolute;
          bottom: 4%;
          font-size: 13px;
          right: 45%;
          a {
            color:brown;
          }
        }

        ion-icon {
          font-size: 30px;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }

        .single-left {
          width: 60%;
          height: 100%;
          // background-color: green;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 20px 35px;
          opacity: 0;

          .recipe-top-section {
            // background-color: red;
            height: 30%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: -10px;
            h1 {
              font-size: 28px;
            }
            h3 {
              font-size: 15px;
            }
            ion-icon {
              position: absolute;
              animation: none;
              top: 25px;
              right: 42%;
            }
            .recipe-heart-message {
              clip-path: polygon(0 24%, 100% 24%, 100% 75%, 75% 75%, 69% 99%, 50% 75%, 0% 75%);
              background-color: whitesmoke;
              width: 90px;
              height: 50px;
              color: red;
              position: absolute;
              right: 42%;
              top: -25px;
              opacity: 0;
              font-size: 12px;
              p {
                transform: translate(3px, 16px);
              }
            }
          }

          h5 {
            font-size: 15px;
            // background-color: green;
            transform: translate(0, 20px);
          }

          .recipe-mid-section {
            // background-color: green;
            margin-top: -20px;
            display: flex;
            transform: translate(0, 20px);
            width: 100%;
            height: 50%;
            position: relative;

            ul {
              height: 95%;
              width: 44%;
              margin-right: 6%;
              // background-color: rgb(35, 174, 255);
              overflow: scroll;
              &::-webkit-scrollbar {
                display: none;
              }

              li {
                list-style: none;
                line-height: 24px;
                margin: 13px 0px;
                font-size: 13px;

                &:first-of-type {
                  margin: 0 0 13px 0px;
                }
              }
            }

            .food-pic {
              height: 93%;
              width: 48%;
              opacity: 0.9;
              object-fit: contain;

              img {
                height: 95%;
                width: 100%;
                border: none;
                object-fit: cover;
                box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.76);
              }
            }
          }

          span {
            margin: 0 50px;
          }

          .recipe-comments {
            margin-left: 5px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            // animate to 75
            height: 5%;
            // background-color: blue;

            button {
              background-color: transparent;
              border: none;
              font-weight: bolder;
              margin-bottom: 13px;
              font-size: 13px;

              ion-icon {
                transform: translate(0, -4px);
                color: black;
              }

              &:hover {
                cursor: pointer;
              }
            }

            .previous-recipe-comments {
              // background-color: red;
              width: 87%;
              height: 72%;
              margin-bottom: 3%;
              overflow: scroll;
              display: none;

              &::-webkit-scrollbar {
                display: none;
              }

              .recipe-comment-row {
                // background-color: rgb(35, 174, 255);
                border-bottom: 1px solid black;
                min-height: 26.2%;
                word-wrap: break-word;
                margin-top: 12px;
                padding-bottom: 3px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
                // background-color: green;
                p {
                  margin: 10px, 0;
                }
                h5 {
                  text-decoration: none;
                }

                h3 {
                  font-size: larger;
                }

                h6 {
                  font-size: 12px;
                }

                section {
                  display: flex;
                  // background-color: greenyellow;
                  align-items: center;
                  justify-content: space-between;
                }
              }
            }

            .user-recipe-comment {
              // background-color: green;
              width: 100%;
              height: 20%;
              display: none;
              ion-icon {
                animation: 0;
                font-size: 18px;
                transform: translate(-120px, 7px);
              }
              form {
                display: flex;
                justify-content: space-between;
              }

              h6 {
                font-size: 13px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                  "Open Sans", "Helvetica Neue", sans-serif;
              }

              .recipe-comment-input {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 27px;
                padding-bottom: 10px;

                button {
                  margin-top: -8px;
                  font-size: 12px;
                }

                input {
                  height: 65%;
                  width: 80%;
                  font-size: 14px;
                  background-color: transparent;
                  border: none;
                  color: black;
                  border-bottom: 1px solid black;
                  border-top: 1px solid black;
                }
              }
            }
          }
        }

        .single-middle {
          width: 40%;
          height: 100%;
          // background-color:red;
          border-left: 1px black solid;
          padding: 0px 50px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          overflow: scroll;
          margin-left: -15px;
          opacity: 0;
          &::-webkit-scrollbar {
            display: none;
          }
          ol {
            margin-top: 30px;
          }
          li {
            line-height: 24px;
            &:first-of-type {
              margin: 20px 0px 40px 0;
            }
            margin: 40px 0px;
          }
        }
      }

      #recipe-card {
        margin: 2em 1em;
        width: 15.8vw;
        height: 36vh;
        border-bottom: 1px white solid ;
        // background-color:white;
        opacity: 0.9;
        position: relative;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        color: whitesmoke;
        transition: 0.6s;

        ion-icon {
          color: pink;
          opacity: 0.9;
          animation: none;
          font-size: 25px;
          margin: 3px 6px -5px 0;
        }

        &:hover {
          cursor: pointer;
          transform: scale(1.12);
          border-bottom: 1px rgb(35, 174, 255) solid ;
        }

        .card-info {
          height: 40%;
          width: 100%;
          padding: 0px 2px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          font-family: "Montserrat";
          .card-info-bottom {
            display: flex;
            flex-direction: column;
            height: 50%;
            // background-color: red;
          }
          h1 {
            font-size: 17px;
            text-transform: capitalize;
          }
          h3 {
            font-size: 17px;
          }
          h5 {
            font-size: 14px;
          }
        }

        .card-image {
          width: 100%;
          height: 60%;
          position: relative;
          margin-bottom: 10px;

          img {
            height: 100%;
            width: 100%;
            opacity: 0.9;
            object-fit: cover;
          }
        }

        ul {
          position: absolute;
          bottom: 0;
          left: 0;
          opacity: 0.7;
          background-color: white;
          padding: 6px;
        }
        li {
          list-style: none;
          color: black;
          font-size: 13px;
          font-family: "Montserrat";
        }
      }
    }
  }

  // watch

  .main-container {
    width: 80vw;
    margin-top: 95vh;
    display: flex;
    text-align: start;
    flex-direction: column;
    opacity: 0.85;
    overflow: hidden;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

    .jumbotron {
      position: relative;
      .jumbotron-title {
        position: absolute;
        bottom: 0%;
        left: 0;
        padding: 0px 0px 20px 15px;
        height: 17%;
        overflow: hidden;
        opacity: 0.9;
        color: white;
        transition: 1s;
        width: 50%;

        p {
          letter-spacing: 0.7px;
          margin-left: 10px;
          font-family: 'Montserrat'
        }
        &:hover {
          height: 38%;
        }
      }
    }

    .jumbotron-video {
      width: 80vw;
      height: auto;
    }

    .inner-wrapper {
      width: 80vw;
      height: 50%;
      display: flex;
      margin-bottom: 6vh;
      align-items: center;
      overflow-x: scroll;
      overflow-y: auto;
      white-space: nowrap;
      scroll-snap-type: inline mandatory;

      .video-container {
        // background-color: green;
        // border: 1px red solid;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        video {
          transition: 0.3s;
          &:hover {
            cursor: pointer;
            width: 15vw;
          }
        }

        .video-info {
          text-transform: capitalize;
          margin: 10px 0;
          // background-color: blue;
          width: 73%;
          display: flex;
          padding-left: 6%;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          h3 {
            font-size: 18px;
          }

          button {
            color: white;
            max-width: 100%;
            margin-top: 10px;
            border: 1px solid grey;
            padding: 7px;
            font-size: 12px;
            background-color: transparent;
            transition: 0.2s;

            &:hover {
              cursor: pointer;
              color: rgb(35, 174, 255);
            }
          }
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .box {
      min-width: 25vh;
      height: 30vh;
      margin: 0 10px;
      scroll-snap-align: center;
      background-color: #010911;
      box-shadow: none;
      &:hover {
        min-width: 45vh;
        cursor: pointer;
      }
    }
  }

  .single-film-container {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;

    .film-right {
      // background-color: blue;
      height: 97%;
      transform: translate(0, 3%);
      width: 38%;
      display: flex;
      justify-content: center;
      align-items: center;
      .film-comments {
        // background-color: red;
        height: 90%;
        width: 90%;
        color: white;
        font-family: "Montserrat";
        font-size: smaller;

        .previous-film-comments {
          // background-color: rebeccapurple
          height: 72%;
          margin: 5% 0px 6% 0;
          overflow: scroll;
          &::-webkit-scrollbar {
            display: none;
          }

          .film-comment-row {
            margin: 18px 0px;
            min-height: 23%;
            word-wrap: break-word;
            border-bottom: 1px solid grey;
            padding: 0px 0 9px 0px;
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: space-between;
            
            p {
              margin: 10px 0;
            }
          }

          section {
            display: flex;
            vertical-align: middle;
            width: 100%;
            h3 {
              margin-right: 65%;
              text-transform: capitalize;
       
              a {
                color:white;
                font-size: 16.5px;
                transition: 0.3s;
                &:hover {
                  color:lightseagreen;
                  cursor:pointer
                }
              }
            }
            h5 {
              transform: translate(15px, -2px);
              width: 18%;
            }
            // justify-content: space-between;
          }
        }

        .film-user-comment {
          // background-color: rosybrown;
          height: 15%;

          form {
            display: flex;
            justify-content: space-between;
            button {
              color: white;
              background-color: transparent;
              border: none;
              font-size: 14px;
              &:hover {
                cursor: pointer;
              }
            }
            input {
              margin-top: 7px;
              height: 57px;
              width: 80%;
              background-color: transparent;
              border: none;
              border-top: 1px solid grey;
              border-bottom: 1px solid grey;
              color: white;
              font-size: 12.5px;
              &::placeholder {
                color: lightgrey;
              }
            }
          }
        }
      }
    }

    .single-film-left {
      height: 100%;
      width: 58.8%;
      margin-right: 3%;
      // overflow: hidden;
      position: relative;
     

      .single-film-title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40%;
        opacity: 0.85;
        transform: translate(0, 20px);
        color: white;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

        .film-heart-message {
          clip-path: polygon(0 24%, 100% 24%, 100% 75%, 75% 75%, 69% 99%, 50% 75%, 0% 75%);
          background-color: whitesmoke;
          width: 90px;
          height: 50px;
          color: red;
          position: absolute;
          right: 35%;
          opacity: 0;
          font-size: 12px;
          transform: translate(185px, -46px);
          p {
            transform: translate(7px, 16px);
          }
        }

        h1 {
          text-transform: capitalize;
          letter-spacing: 1.5px;
          font-size: 45px;
        }
        h3 {
          letter-spacing: 0.5px;
          line-height: 23px;
          font-size: 19px;
          width: 90%;
        }

        p {
          letter-spacing: 1px;
          span {
            margin: 10%;
          }
        }
      }
    }

    .single-film-media {
      display: flex;
      height: 60%;
      display: flex;
      align-items: center;
      transform: translate(0, -5%);
      small {
        color:white;
        position: absolute;
        bottom: 1.5%;
        a {
          color:lightseagreen
        }
      }

      img {
        height: 69.6%;
        z-index: 0;
        margin-right: 2%;
      }
      video {
        min-height: 71%;
        max-width: 71.5%;
        z-index: 0;
      }
    }
  }

  // GAME SECTION

  .game-container {
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;

    .gamelist {
      color: white;
      // background-color: green;
      width: 40%;
      height: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      scroll-snap-type: inline mandatory;

      &::-webkit-scrollbar {
        display: none;
      }

      .game-row {
        display: flex;
        justify-content: space-between;
        width: 85%;
        opacity: 0.9;
        padding: 18px 25px;
        border-bottom: grey 1px solid;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        scroll-snap-align: start;

        &:hover {
          border-bottom: rgb(35, 174, 255) 2px solid;
          transform: scale(1.07);
        }

        &:first-of-type {
          border-top: grey 1px solid;
        }

        h1 {
          font-size: 21px;
          margin: 6px 0;
          font-weight: lighter;
        }

        p {
          font-size: 11px;
          color: pink;
        }

        a {
          transform: translate(0, 15px);
        }

        button {
          background-color: transparent;
          text-transform: uppercase;
          border: none;
          font-family: "Montserrat", sans-serif;
          color: white;
          font-size: 14px;
          font-weight: 500;
          background: linear-gradient(rgb(35, 174, 255), rgb(35, 174, 255)) left no-repeat white;
          background-size: 0% 100%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: 0.6s;

          &:hover {
            cursor: pointer;
            background-size: 100% 100%;
          }
          &:active {
            transform: scale(0.97);
            transition: 0.05s;
          }
        }
      }
    }

    .gameinfo {
      width: 60%;
      height: 100%;
      // background-color: red;
      font-family: "Montserrat", sans-serif;
      position: relative;
      overflow: hidden;

      .game-favourite {
        height: 10%;
        width: 85%;
        display: flex;
        // background-color: yellow;

        align-items: center;
        .heart-message {
          clip-path: polygon(0 24%, 100% 24%, 100% 75%, 75% 75%, 69% 99%, 50% 75%, 0% 75%);
          background-color: whitesmoke;
          width: 90px;
          height: 50px;
          color: red;
          opacity: 0;
          font-size: 12px;
          transform: translate(45%, -88%);
          p {
            transform: translate(0.7%, 88%);
          }
        }
        h1 {
          // margin-right: 100px;
          font-size: 30px;

          color: lightseagreen;
        }
        ion-icon {
          animation: none;
          transform: translate(0, -7px);
        }
      }

      button {
        background-color: transparent;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        border: none;
        margin-bottom: 20px;
        // background-color: green;
        &:hover {
          cursor: pointer;
        }
      }

      .game-description {
        position: absolute;
        top: 0;
        left: 0;
        height: 90%;
        width: 100%;
        display: flex;
        color: white;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 30px 85px 30px 75px;
        a {
          color: lightseagreen
        }
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 9;
          -webkit-box-orient: vertical;
          width: 35vw;
        }
      }

      .game-comments {
        // background-color: red;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 10%;
        padding: 30px 105px 60px 75px;

        .previous-comments {
          // background-color: green;
          height: 75%;
          width: 100%;
          overflow-y: scroll;
          margin: 10px 0 36px 0;
        }

        .comment-row {
          // background-color: yellow;
          padding: 0 0 22px 0;
          min-height: 26%;
          margin: 20px 0;
          color: white;
          border-bottom: 1px solid grey;
          display: flex;
          word-wrap: break-word;
          flex-direction: column;
          justify-content: space-around;
          position: relative;


          section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: lightseagreen;
            h3 {
              text-transform: capitalize;
            }
          }

          h5 {
            font-weight: lighter;
            &:last-of-type {
              font-size: 12px;
              margin-bottom: -20px;
            }
          }

          p {
            font-size: 14px;
            margin: 10px 0;
          }

          h3 {
            font-weight: lighter;
            font-size: 16px;
          }
        }

        .user-comment {
          // background-color: blue;
          height: 16%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: white;
          font-family: "Montserrat", sans-serif;
          opacity: 0;

          ion-icon {
            color: white;
            animation: none;
            font-size: 21px;
            opacity: 0.85;
          }

          form {
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
          }

          h6 {
            font-size: 13px;
            margin-bottom: 10px;
          }

          .comment-input {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: space-between;

            input {
              height: 100%;
              padding: 5px;
              width: 85%;
              background-color: transparent;
              color: white;
              border: none;
              border-top: 1px solid grey;
              border-bottom: 1px solid grey;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  // add item page
  .add-container {
    // background-color: rgb(35, 174, 255);
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    transform: translate(-5%, 0);

    .category-select {
      height: 26%;
      width: 83%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Montserrat";
      color: white;
      text-transform: capitalize;
      // background-color: green;
      transform: translate(0, 150%);
      z-index: 4;

      h1 {
        font-size: 26px;
        font-weight: lighter;
        margin-bottom: 25px;
      }

      .options {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        // background-color: blue;
        align-items: center;
        justify-content: space-between;
        font-size: larger;

        h4 {
          position: absolute;
          opacity: 0;
          pointer-events: none;
        }

        ul {
          display: flex;
          height: 50%;
          width: 100%;
          // background-color: blueviolet;
          transform: translate(0, 15px);

          text-align: center;

          li {
            list-style: none;
            font-size: 18px;
            height: 80%;
            width: 100%;
            font-weight: lighter;
            transition: 0.3s;
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
              &:hover {
                color: rgb(35, 174, 255);
              }
            }

            &:hover {
              cursor: pointer;
            }

            // subcat
            li {
              // background-color: green;
              font-size: 14px;
              display: none;
              opacity: 0;
              text-align: start;
              margin: 6px 40px;
            }
          }
        }
      }
    }
    .add-form {
      width: 100%;
      // opacity: 0;
      height: 85%;
      // display: none;
      // background-color: red;
      transform: translate(0, -7%);

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        opacity: 0;

        .short-inputs {
          // background-color: rgb(35, 174, 255);
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          height: 40%;
          input {
            margin: 0 5%;
            width: 30%;
            height: 15%;
            &::placeholder {
              color: rgba(212, 209, 209, 0.6);
            }
          }
        }
      }
      button {
        background-color: transparent;
        color: white;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: -10px;
        border: none;
        transition: 0.3s;
        &:hover {
          color: rgb(35, 174, 255);
          cursor: pointer;
        }
      }
    }
    input {
      margin: 8px 0;
      width: 70%;
      height: 7%;
      border: none;
      border-bottom: 1px whitesmoke solid;
      background-color: transparent;
      font-size: 14.5px;
      color: white;
      &::placeholder {
        color: rgba(212, 209, 209, 0.6);
      }
    }
  }

  // registeration Page
  .register-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    .register-title {
      align-content: space-between;
      font-family: "Raleway", sans-serif;
      letter-spacing: 8px;
      text-transform: uppercase;
      color: white;
      text-align: center;
      width: 80%;
      margin-top: 60px;
      h1 {
        font-size: 3em;
      }
      .already-registered {
        margin: 40px;
        letter-spacing: 5px;
        a {
          color: white;
          text-decoration: none;
          &:hover {
            color: lightgrey;
          }
        }
      }
    }
    .form-container {
      height: 100%;
      width: 80%;
      display: flex;
      padding: 10px;
      border-radius: 20px;
      align-self: center;
      justify-content: center;
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .field {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          .btn {
            padding: 5px;
            font-family: "Raleway", sans-serif;
            padding-left: 20px;
            height: 40px;
            width: 400px;
            border-bottom: 1px solid lightgrey;
            color: white;
            opacity: 0.7;
            background-color: transparent;
            font-size: 20px;
            &:hover {
              color: #010911;
              font-weight: bolder;
            }
          }
          input[type="file"] {
            font-size: 100px;
            opacity: 0;
            border: 1px solid white;
          }
        }
        input {
          background-color: transparent;
          height: 40px;
          width: 400px;
          font-size: 20px;
          padding: 20px;
          color: white;
          border: none;
          border-bottom: 1px solid lightgrey;
          &::placeholder {
            color: white;
            opacity: 0.7;
            font-family: "Raleway", sans-serif;
          }
        }
        .submit {
          align-items: center;
          button {
            width: 100%;
            justify-self: center;
            background-color: transparent;
            color: white;
            font-size: large;
            padding: 20px 30px;
            font-family: "Raleway", sans-serif;
            border-radius: 5px;
            &:hover {
              background-color: white;
              color: #010911;
              font-weight: bolder;
            }
            &:active {
              background-color: whitesmoke;
              color: #010911;
              font-weight: bolder;
            }
          }
        }
      }
    }
  }

  // Modal
  .modal-background {
    backdrop-filter: blur(4px);
  }
  .modal-content {
    height: 400px;
    width: 350px;
    background-color: #1a1b1ff5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h1 {
      color: white;
      font-size: 18px;
    }

    p {
      color: white;
      font-size: smaller;
      transform: translate(0, 10px);
      &:hover {
        color: rgb(35, 174, 255);
      }
    }
    form {
      // background-color: blue;
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 60%;
      align-items: center;
      justify-content: space-evenly;
      font-family: "Montserrat";

      button {
        background-color: transparent;
        color: white;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: -10px;
        border: none;
        transition: 0.3s;
        &:hover {
          color: rgb(35, 174, 255);
          cursor: pointer;
        }
      }

      input {
        margin: 8px 0;
        width: 85%;
        height: 13%;
        border: none;
        border-bottom: 1px whitesmoke solid;
        background-color: transparent;
        font-size: 14.5px;
        color: white;
        &::placeholder {
          color: rgba(212, 209, 209, 0.6);
        }
      }
    }
  }

  .single-rec-container {
    background-color: rgba(173, 161, 161, 0.822);
    height: 80%;
    width: 90%;
    display: flex;
    font-family: "Montserrat";
    color: black;
    // position: relative;
    small {
      position: absolute;
      bottom: 13.2%; 
      left: 42%;
      a {
        color:brown
      }
    }
    .single-rec-left {
      // background-color: blue;
      height: 100%;
      width: 60%;
      display: flex;
      padding: 15px 23px;
      flex-direction: column;
      justify-content: space-between;
      .left-top {
        // background-color: rgba(212, 209, 209, 0.6);
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .rec-heart {
          clip-path: polygon(0 24%, 100% 24%, 100% 75%, 75% 75%, 69% 99%, 50% 75%, 0% 75%);
          background-color: whitesmoke;
          width: 90px;
          height: 50px;
          color: red;
          position: absolute;
          right: 39%;
          top: 5%;
          opacity: 0;
          p {
            transform: translate(4px, 16px);
            font-size: 12px;
          }
        }
        
        h1 {
          font-size: 27px;
          text-transform: capitalize;
        }
        h6 {
          // display: none;
        }
        p {
          font-size: 14px;
          // display:none;
          span {
            margin: 0 70px;
          }
        }
      }
      .rec-media {
        display: flex;
        height: 65%;
        // display:none;
        .media-left {
          display: flex;
          padding: 20px 0px;
          flex-direction: column;
          // background-color: green;
          width: 50%;
          ul {
            // background-color: red;
            height: 90%;
            overflow: scroll;
            &::-webkit-scrollbar {
              display: none;
            }
            li {
              font-size: 14px;
              margin: 20px 0;
            }
          }
          h6 {
            margin-bottom: 10px;
            font-size: 14px;
            font-weight:550;
          }
        }
        .media-right {
          width: 50%;
          img {
            width: 95%;
            height: 95%;
            object-fit: contain;
            transform: translate(-20px, 20px);
          }
        }
      }
      .single-rec-comments {
        // 90
        // background-color: green;
        transform: translate();
        height: 6%;
        max-height: 87%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .single-previous-rec-comments {
          display: none;
          opacity: 0;
          width: 88%;
          height: 85%;
          overflow: scroll;
          margin: 15px 0;
          &::-webkit-scrollbar {
            display: none;
          }
        }
        .rec-comment-row {
          // background-color: rgb(245, 153, 169);
          margin: 10px 0;
          min-height: 26%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-bottom: 5px;
          word-wrap: break-word;
          position: relative;

          ion-icon {
            &:hover {
              cursor: pointer;
            }
          }

          border-bottom: black 1px solid;
          h6 {
            font-size: 12.5px;
          }
          section {
            display: flex;
            justify-content: space-between;
            .rec-rating {
              transform: translate(0, 2px);
            }
            h5 {
              font-size: 15px;
              text-transform: capitalize;
            }
          }
          p {
            font-size: 14px;
            margin: 10px 0;
          }
        }
        button {
          background-color: transparent;
          border: none;
          font-size: 13px;
          margin-bottom: 12px;
          font-weight: bold;
        }
      }
    }
    .single-rec-right {
      // background-color: red;
      border-left: 1px solid rgba(0, 0, 0, 0.5);
      padding: 20px 45px;
      height: 100%;
      width: 40%;
      overflow:scroll;
      li {
        margin: 25px 0;
        font-size: 14px;
      }
    }

    .user-rec-comment {
      display: none;
      opacity: 0;
      width: 90%;
      height: 30%;
   
      .star {
        display: flex;
        width: 85%;
        // background-color: white;
        h6 {
          font-size: 13px;

        }
        .star-icons {
          ion-icon {
            animation: none;
            font-size: 19px;
            transform: translate(-50px, 7px);
            color:black;
          }
        }
      }
      .rec-comment-input {
        height: 70%;
        width: 100%;
        // background-color: rgb(245, 153, 169);
        form {
          width: 100%;
          display: flex;
          margin-top: 5px;
          justify-content: space-between;
          button {
            transform: translate(30px, 0);
            // font-weight: lighter;
            font-size: 14px;
          }
          input {
            width: 85%;
            background-color: transparent;
            border: none;
            border-bottom: black 1px solid;
            border-top: black 1px solid;
            color: black;
            font-size: 13.5px;
            &::placeholder {
              color: rgba(0, 0, 0, 0.651);
            }
          }
        }
      }
    }
  }

  // user profile
  .Profile {
    color: white;
  }
}
