* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
}

body {
  background-color: #010911;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #010911;


  // hamburger menu
  aside {
    height: 100vh;
    width: 12vw;
    background-color: #010911;
    // background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    border-right: white;


    h3 {
      color: white;
      position: fixed;
      bottom: 0;
      transform: rotate(-90deg);
      width: 320px;
      margin-bottom: 210px;
      letter-spacing: 1px;
      opacity: 0.9;
      font-size: 17px;
      font-family: 'Cormorant Garamond', serif;
    }

    .hamburger-container {
      margin-top: 25px;
      align-items: center;
      display:flex;
      flex-direction: column;
      height: 45px;
      justify-content: space-evenly;
      width: 23%;

    &:hover {
      cursor: pointer;
    }

      .hamburger {
        width: 33px;
        background-color: whitesmoke;
        opacity: 0.9;
        height: 2px; 
      }
    }}

  // constant navbar
  .navbar {
    height: 100vh;
    background-color: #010911;
    // background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    z-index: 2;
    width: 0vw; 
    justify-content: center;

 
    
    .items {
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100vh;
      text-align: start;
      align-items: center;
    
      li {
        font-size: 16px;
        color: white;
        opacity: 0.95;
        list-style: none;
        width: 370px;
        font-family: 'Cormorant Garamond', serif;
        text-decoration: none;
        &:hover {
          cursor: pointer;
    
        }
      }
      span {
        font-size: 30px;
        margin-left: 18px;
        opacity: 0.95;
        background: linear-gradient(rgb(35, 174, 255),rgb(35, 174, 255)) left no-repeat whitesmoke;
        background-size: 0% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.7s;
        &:hover {
          background-size:  100% 100%;
        }
      }}}

  // title of homepage
  main {
    height: 100vh;
    width: 88vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      color:black;
      height: 94vh;
      background-color: white;
      border-radius: 40px;
      width: 84vw;
      background-image: url('https://images.unsplash.com/photo-1514894780887-121968d00567?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80');
      background-position: center;
      position: relative;

      &::after {
        content: '';
        opacity: 0.2;
        background: black;
        width: 100%;
        border-radius: 40px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        // transform-origin: bo;
      }
    }
  }
  

  // cook page

  .recipe-container {
    width: 82vw;
    height: 85vh;
    padding-top: 90vh;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    &::-webkit-scrollbar {
      display:none;
    }

    .recipe-row {
      display:flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;

      .single {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 83.4vh;
        width: 80vw;
        background-color: rgba(173, 161, 161, 0.822);
        position: absolute;
        top:8.3vh;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        display: none;

        .single-left {
          width: 60%;
          height: 100%;
          // background-color: green;
          display:flex;
          flex-direction: column;
          justify-content: space-between; 
          padding: 20px 35px;
          opacity: 0;

          .recipe-top-section {
            // background-color: red;
            height: 25%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: -10px;
          }

          h5 {
            font-weight: bolder;
            font-size: 15px;
            margin-bottom: -10px;
            text-decoration: underline;
          }

          .recipe-mid-section {
            
            // background-color: green;
            display: flex;
            width: 100%;
            height: 50%;
            position: relative;


            h5 {
              position: absolute;
              bottom: -10px;
              left: 10px;
              color:brown;
              text-decoration: none;
              font-size: 14px;
            }


            ul {
              height: 95%;
              width: 44%;
              margin-right: 6%;
              // background-color: rgb(35, 174, 255);
              overflow: scroll;
              &::-webkit-scrollbar {
                display:none;
              }

              li {
                list-style: none;
                line-height: 24px;
                margin: 13px 0px;

                &:first-of-type {
                  margin: 0 0 13px 0px;
                }
              }
            }

            .food-pic {
              height: 93%;
              width: 48%;
              opacity: 0.8;
              object-fit: contain;

              img {
                height: 95%;
                width: 100%;
                border:none;
                border-radius: 20px;
                box-shadow: 1.5px 1.5px 1px 1px rgba(0, 0, 0, 0.616);
              }
            }}

        span {
          margin: 0 50px;
        }

        .recipe-comments {
          margin-left: 5px;
          width: 100%;
          // animate to 75
          height: 5%;
          // background-color: blue;

          button {
            background-color: transparent;
            border: none;
            font-weight: bolder;
            margin-bottom: 10px;
          
            &:hover {
              cursor: pointer;
            }}
          
          .previous-recipe-comments {
            // background-color: red;
            width: 100%;
            height: 72%;
            margin-bottom: 3%;
            overflow: scroll;
            display: none;

            &::-webkit-scrollbar {
              display:none;
            }


            .recipe-comment-row {
              // background-color: rgb(35, 174, 255);
              border-bottom: 1px solid black;
              height: 31%;
              margin-top: 10px;
              padding: 10px 20px 0 0;
              opacity: 0;

              h5 {
                text-decoration: none;

              &:last-of-type {
                margin-bottom: -10px;
              }
              }

              section {
                display: flex;
                vertical-align: middle;
                justify-content: space-between;
              }
            }
          }
          
          .user-recipe-comment {
            // background-color: green;
            width: 100%;
            height: 20%;
            display: none;

            h6 {
              font-size: 13px;
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            .recipe-comment-input {
              height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 27px;
                padding-bottom: 10px;

                button {
                  margin-top: -8px;
                  font-size: 12px;
                }

              input {
                height: 65%;
                width: 80%;
                background-color: transparent;
                border:none;
                color: black;
                border-bottom: 1px solid black;
                border-top: 1px solid black;
              }
            }
          }}}
        
        .single-middle {
          width: 40%;
          height: 100%;
          // background-color:red;
          border-left: 1px black solid;
          padding: 0px 50px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          overflow: scroll;
          margin-left: -15px;
          opacity: 0;
          &::-webkit-scrollbar {
            display:none;
          }
          ol {
            margin-top: 30px;
          }
          li {
            line-height: 24px;
            &:first-of-type {
              margin: 20px 0px 40px 0;
            }
            margin: 40px 0px;
          }
        }
      }
    
  
      #recipe-card {
        margin: 2em 1em;
        width: 15.8vw;
        height: 36vh;
        background-color: rgba(173, 161, 161, 0.822);
        opacity: 0.9;
        // filter: grayscale(0.3);
        position: relative;
        display: flex;
        flex-direction: column;
        color:whitesmoke;
        transition: 0.6s;

        &:hover {
          cursor: pointer;
          transform: scale(1.12)
        }

        .card-info {
          height: 40%;
          width: 100%;
          padding: 5px 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          font-family: 'Cormorant Garamond', serif;
          h1 {
            font-size: 21px;
            text-transform: capitalize;
          }

          h3 {
            font-size: 18px;
          }
          h5 {
            font-size: 17px;
          }
        }

        .card-image {
          background-color: rgb(35, 174, 255);
          width: 100%;
          height:60%;
          position: relative;
          object-fit: cover;

          img {
            height:100%;
            width:100%;
            opacity: 0.95;
          }
        }

        ul {
          position: absolute;
          bottom: 0;
          left:0;
          opacity: 0.7;
          background-color: white;
          padding: 6px;

        }
        li {
          list-style: none;
          color:black;
          font-family: 'Cormorant Garamond', serif;

        }

      }
    }}


      // watch

      .main-container {
        width: 80vw;
        margin-top: 85vh;
        display: flex;
        text-align: start;
        flex-direction: column;
        opacity: 0.85;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        p {
          letter-spacing: 0.7px;
          margin-left: 5px;
          width: 580px;
          font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .jumbotron-video {
          width:80vw;
          height: auto;
        }


        // top 5 section

        .top-films-container {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: space-between;
          margin-bottom: 50px;

          .top-films {
            min-width: 25vh;
            height: 30vh;
            object-fit: contain;
            position: relative;
            transition: 0.3s;

            &:hover {
              width: 45vh;
            }
        }
      }
      

       .inner-wrapper {
        width: 80vw;
        height: 50%;
        display: flex;
        margin-bottom: 10vh;
        align-items: center;
        overflow-x: scroll;
        overflow-y: auto;
        white-space: nowrap;
        scroll-snap-type: inline mandatory;

        &::-webkit-scrollbar {
          display:none;
        }
       }

       .box {
        min-width: 25vh;
        height: 30vh;
        margin: 0 10px;
        scroll-snap-align: center;
        &:hover {
            min-width: 45vh;
          cursor: pointer;
        }
       }
      }



      // GAME SECTION

     .game-container {
       display: flex;
       width: 100%;
       height: 90%;
       align-items: center;

      .gamelist {
        color: white;
        // background-color: green;
        width: 40%;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        scroll-snap-type: inline mandatory;
        
        &::-webkit-scrollbar {
          display:none;
        }

        .game-row {
          display: flex;
          justify-content: space-between;
          width: 85%;
          opacity: 0.9;
          padding: 18px 25px;
          border-bottom: grey 1px solid;
          font-family: 'Montserrat', sans-serif;
          text-transform: uppercase;
          scroll-snap-align: start;

          &:hover {
            border-bottom: rgb(35, 174, 255) 2px solid;
            transform:scale(1.07);
          }

          &:first-of-type {
            border-top: grey 1px solid;
          }

          h1 {
            font-size: 24px;
            margin: 5px 0;
          }

          p {
            font-size: 11.5px;
            color: pink;
          }

          button {
            background-color: transparent;
            text-transform: uppercase;
            border: none;
            font-family: 'Montserrat', sans-serif;
            color:white;
            font-size: 15px;
            font-weight: 500;
            background: linear-gradient(rgb(35, 174, 255),rgb(35, 174, 255)) left no-repeat white;
            background-size: 0% 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: 0.6s;

            &:hover {
              cursor: pointer;
              background-size:  100% 100%;
            }
            &:active {
              transform:scale(0.97);
              transition: 0.05s
            }
          }
        }
      }

      .gameinfo {
        width: 60%;
        height: 100%;
        // background-color: red;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        overflow: hidden;

        button {
          background-color: transparent;
          color: white;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          border: none;
          margin-bottom: 20px;
          // background-color: green;
          &:hover {
            cursor: pointer;
          }
        }

        .game-description {
          position: absolute;
          top: 0;
          left:0;
          height: 90%;
          width: 100%;
          display:flex;
          color:white;
          flex-direction: column;
          justify-content: space-evenly;
          padding: 30px 85px 30px 75px;

          p {
            width: 34vw;
          }
        }

        .game-comments {
          // background-color: red;
          position: absolute;
          bottom: 0;
          right:0;
          width: 100%;
          height: 10%;
          padding: 30px 105px 60px 75px;

          .previous-comments {
            // background-color: green;
            height: 75%;
            width: 100%;
            overflow-y: scroll;
            margin: 10px 0 36px 0;
          }

          .comment-row {
            // background-color: yellow;
            padding: 0 0 15px 0 ;
            height: 23%;
            margin: 20px 0;
            color: white;
            border-bottom: 1px solid grey;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            opacity: 0;

            section {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }

            h5 {
              font-weight: lighter;
              &:last-of-type {
                font-size: 12px;
                margin-bottom: -20px;
              }
            }

            p {
              font-size: 14px;
            }

            h3 {
              font-weight: lighter;
              font-size: 16px;
            }
          }

          .user-comment {
            // background-color: blue;
            height: 16%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color:white;
            font-family: 'Montserrat', sans-serif;
            opacity: 0;

            h6 {
              font-size: 13px;
              margin-bottom: 10px;
            }

            .comment-input {

              display: flex;
              height: 100%;
              align-items: center;
              justify-content: space-between;

              input {
                height: 100%;
                padding: 5px;
                width: 85%;
                background-color: transparent;
                color: white;
                border:none;
                border-top: 1px solid grey;
                border-bottom: 1px solid grey;
                font-size: 14px;
              }

            }

            
          }
        }
      }
     }









      }
      
    


